<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/cartao" method="post">
        <input type="text" name="nome" id="nome">
        <input type="text" name="remetente" id="remetente">
        <textarea name="mensagem" id="mensagem">
        </textarea>

        <input type="submit" value="Enviar dados">
    </form>
    <form action="" method="get">
        <input name="" type="text" placeholder="Login">
        <br>
        <input type="password" placeholder="Senha">
        <br>
        <input type="checkbox">
        <input type="number">
    </form>
</body>

</html>