<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widht=device-widht, initial-scale=1.0">
    <title>Cartão</title>
</head>
<body>

    <form action="/tela_de_sucesso/" method="get">
        <span>NOME: </span>
        <input type="text" name="nome" id="nome">
        <br>
        <span>CPF: </span>
        <input type="text" name="cpf" id="cpf">
        <br>
        <span>TELEFONE: </span>
        <input type="text" name="telefone" id="telefone">
        <br>
        <span>EMAIL: </span>
        <input type="text" name="email" id="email">
        <br>
        <span>ENDERECO: </span>
        <input type="text" name="endereco" id="endereco">
        <br>
        <input type="submit" value="Enviar dados">
    </form>
</body>
</html>