<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post"> 
    <input type="text" name="cliente">
    <br>  
    <input type="text" name="produto">
    <br>  
    <input type="text" name="quantidade">
    <br> 
    <input type="text" name="preco">
    <br>  
    
        <fieldset>
            <legend>
                item de venda
            </legend>

            <input type="text">qtdVenda
            precoUND
            produto
            <input type="text">
            <input type="text">
            <input type="text">
        </fieldset>

    </form>
</body>
</html>